.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-registration input {
  border-radius: 0;
  margin-bottom: -1px;
}

/* Aturan CSS untuk layar desktop */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Aturan CSS untuk layar tablet */
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

/* Aturan CSS untuk layar ponsel */
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

/* Perubahan ukuran ikon dan huruf pada tampilan mobile */
@media (max-width: 576px) {
  footer img {
    width: 24px;
    height: 24px;
  }

  footer h3 {
    font-size: 18px;
  }

  footer p {
    font-size: 14px;
  }

  footer .text-center p {
    font-size: 12px;
  }
}
.container #img-profil {
  width: 24px;
  height: 24px;
}